page-authentifiaction {
    font-family: 'Lato', sans-serif;
    .tt{background-color: #f4f4f4;background-size: 100% 100%}
    .btn{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    ::placeholder{color: #137CC1!important;}
  }
  
  .content_card{
    width: 90%;
    height: 460px;
    border: 1px solid white;
    margin: 40px auto;
    overflow: visible;
  }
  .item-md {
    background-color: white!important;
    margin-bottom: 15px!important;
}
.item-ios {
  background-color: white!important;
  margin-bottom: 15px;
}