<ion-header>
    <ion-navbar text-center color='primary'>
      <ion-title>Transaction</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


  <ion-content padding class="content">
      <ion-card-content>
        <h1>Détail de la transaction</h1>
          <p><strong>Point de vente : </strong>{{point_vente}}</p>
          <p><strong>Agent : </strong>{{agent}}</p>
          <p><strong>Consommateur : </strong>{{carte}}</p>
          <p><strong>Carte : </strong>{{serie}}</p>
          <p><strong>Produit : </strong>{{produit}}</p>
          <p><strong>Montant : </strong>{{montant}}</p>
          <p *ngIf="quantite != 0"><strong>Quantité : </strong>{{quantite}}</p>
          <p><strong>Date de transaction : </strong>{{date_transaction}}</p>
      </ion-card-content>
  </ion-content>
