<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Accueil</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="content">
    <ion-card-content>
        <h1>Information</h1>
        <p><strong>Nom du client : </strong>{{client_name}} </p>
        <p><strong>Téléphone : </strong>{{client_telephone}}</p>
        <p><strong>Adresse:</strong> {{client_adresse}}</p>
        <p><strong>Dernière transaction : </strong> </p>
        <p><strong>Solde : </strong> {{client_solde}}</p>
    </ion-card-content>
</ion-content>
