<ion-content padding class="tt custom-form" >
  <ion-row>
      <ion-col style="text-align: center;font-weight: bold;font-size: 20px;
      color: #137CC1;">Bienvenue au EAZY CARD</ion-col>
  </ion-row>
  <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col >
        <img src="assets/imgs/logo_akad.png" width="200" />
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngIf="check" style="text-align: center;font-weight: bold;color:red;">Le code de validation est incorrect</ion-col>
    </ion-row>
    <div class="login-box">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item style="margin-bottom: 25px;border-radius: 5px;background-color: transparent;border-bottom: 1px solid white;font-size: 19px;color: black">
                  <ion-input [(ngModel)] = "mobile" placeholder="Téléphone" type="tel" *ngIf="!checkCode"></ion-input>
                  <ion-input [(ngModel)] = "code_validation" placeholder="Code de validation" type="tel" *ngIf="checkCode"></ion-input>
              </ion-item>
                  <p *ngIf="!checkCode"><button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="reinitialiser()">Réinitialiser</button></p>
                  <p *ngIf="checkCode"><button ion-button block style="border-radius: 5px;font-weight: bold;"  (click)="valider()">Valider</button></p>
            </ion-list>
          </ion-col>
        </ion-row>
    </div>
</ion-content>
