page-change-password {
    .tt{background-image: url("../assets/imgs/background.jpg");background-size: 100% 100%}
    .btn{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    ::placeholder{color: #137CC1!important;}
}
