<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Liste des cartes</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding class="content">
        <h1>Information</h1>
        <ion-grid>
          <ion-row>
            <ion-col col-md-6><strong>Nom du client : {{client_name}}</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-md-6><strong>Solde non affecté : {{solde_non_affecte}}</strong></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-md-6><strong>Solde déjà affecté : {{solde_affecte}}</strong></ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-toolbar no-border-top>
            <ion-segment [(ngModel)]="pet">
              <ion-segment-button value="puppies">
                  Liste des cartes
              </ion-segment-button>
              <ion-segment-button value="kittens">
                  Liste des transactions
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
  
          <div [ngSwitch]="pet">
              <ion-list *ngSwitchCase="'puppies'">
                <ion-item style="font-weight: bold">
                      <ion-label style="width: 35%;flex: initial;" >Serie</ion-label>
                      <ion-label style="flex: initial;width: 35%;">Libellé</ion-label>
                      <ion-label style="flex: initial;width: 18%;">solde</ion-label>
                </ion-item>
                <ng-container  *ngFor="let p of liste_cartes ; let i = index">
                <ion-item  (click)="goToPage(p.id,p.qrcode,p.libelle)" style="cursor: pointer;"  *ngIf="i != 0">
                    <ion-label>{{p.serie}}</ion-label>
                    <ion-label>{{p.libelle}}</ion-label>
                    <ion-label color="danger" style="flex: initial;width: 20%;"><p color="danger">{{p.solde}}</p></ion-label>
                </ion-item>
              </ng-container>
              </ion-list>
            
                <ion-list *ngSwitchCase="'kittens'">
        
            <ion-item style="font-weight: bold">
                  <ion-label style="width: 35%;flex: initial;" >Produit</ion-label>
                  <ion-label style="flex: initial;width: 18%;">Prix</ion-label>
                  <ion-label style="flex: initial;width: 35%;">Date transaction</ion-label>
            </ion-item>
            <ion-item *ngFor="let p of listeTransaction" (click)="detailTransaction(p.id)" style="cursor: pointer;">
                <ion-label>{{p.produit}}</ion-label>
                <ion-label color="danger" style="flex: initial;width: 20%;"><p color="danger">{{p.montant}}</p></ion-label>
                <ion-label>{{p.date_creation}}</ion-label>
                <!--<button ion-button clear item-end>détail</button>-->
            </ion-item>
                </ion-list>
            </div>
        
</ion-content>
