<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Détail de la carte</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col col-md-6><strong>Libelle de la carte : {{libelle}}</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-md-6><strong>Serie : {{serie}}</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-md-6><strong>Solde : {{solde}}</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-md-6><button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="changeCodePin()">Générer un autre code PIN</button></ion-col>
        </ion-row>

        <h3>Liste des transactions</h3>
        
        <ion-list>
            <ion-item style="font-weight: bold">
                  <ion-label style="width: 35%;flex: initial;" >Nom du produit</ion-label>
                  <ion-label style="flex: initial;width: 18%;">Prix</ion-label>
                  <ion-label style="flex: initial;width: 35%;">Date de transaction</ion-label>
            </ion-item>
            <ion-item *ngFor="let p of listeTransaction" (click)="goToPage(p.id)" style="cursor: pointer;">
                <ion-label>{{p.produit}}</ion-label>
                <ion-label color="danger" style="flex: initial;width: 20%;"><p color="danger">{{p.montant}}</p></ion-label>
                <ion-label>{{p.date_creation}}</ion-label>
                <!--<button ion-button clear item-end>détail</button>-->
            </ion-item>
        </ion-list>
      </ion-grid>
      

</ion-content>
