<ion-header>
    <ion-navbar text-center color='primary'>
      <ion-title>Gérer les cartes</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  


<ion-content padding>

    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="puppies">
                Transfert crédit
            </ion-segment-button>
            <ion-segment-button value="kittens" (click)="historique()">
                Historique
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
<div [ngSwitch]="pet">
    <ng-container *ngSwitchCase="'puppies'" >
<ion-item class="item-leave-height">
    <ion-label>Carte à débiter</ion-label>
    
        <ion-select [(ngModel)]="carteDebit"  (ionChange)="onChange()">
            <ng-container  *ngFor="let c of liste_cartes_debit" >
                <ion-option   [value]="c.id" *ngIf="c.id != carteCredit">{{c.libelle}}</ion-option>
            </ng-container>
        </ion-select>
</ion-item>

<ion-item style="margin-top: 10px;"  *ngIf="carteDebit">
    <ion-label color="danger" stacked ><strong>soldes carte : {{soldeCarteDebit}}</strong> </ion-label>
</ion-item>
<ion-item class="item-leave-height">
    <ion-label>carte à créditer</ion-label>
    <ion-select [(ngModel)]="carteCredit" (ionChange)="onChange()">
        <ng-container  *ngFor="let c of liste_cartes_credit">
            <ion-option   [value]="c.id" *ngIf="c.id != carteDebit">{{c.libelle}}</ion-option>
        </ng-container>
    </ion-select>
</ion-item>
<ion-item style="margin-top: 10px;"  *ngIf="carteCredit">
    <ion-label color="danger" stacked ><strong>soldes carte :{{soldeCarteCredit}}</strong>  </ion-label>
</ion-item>
<ion-item style="margin-top: 10px;">
    <ion-label color="primary" stacked>Montant</ion-label>
    <ion-input [(ngModel)] = "montant" type="number" placeholder="Montant" id="montant"></ion-input>
</ion-item>
<ion-item>
    <button ion-button full style="height: 34px; border-radius: 10px;" (click) ="chargerCarte()">Exécuter</button>
</ion-item>
</ng-container>
<ng-container *ngSwitchCase="'kittens'" >
    <ion-list>
        <ion-item *ngFor="let c of liste_historique">
                <p>{{c.date}}</p>
                    <ion-row>
                        <ion-col col-md-6>{{c.libelle}}</ion-col>
                        <ion-col col-md-6 style="text-align: right;color: red" class="solde_carte">{{c.montant}}</ion-col>
                    </ion-row>
                <!--<button ion-button clear item-end>détail</button>-->
            </ion-item>
    </ion-list>


</ng-container>
</div>
</ion-content>
